# Exploratory Data Analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Import and Understand Data

In [11]:
df = pd.read_csv("/Users/aaa/Documents/Product_EDA/data/raw/Product_DataSet.csv")

In [12]:
df.head()

,S.No,BrandName,Product ID,Product Name,Brand Desc,Product Size,Currancy,MRP,SellPrice,Discount,Category
0,1,4711,FR001,Cologne Fragrance,ekw eau de cologne 400 ml,Small,Rs.,3900,3120,20% off,Fragrance-Women
1,2,109f,DRW1,DRW1 - Westernwear-Women,womens v- neck short dress - yellow,"Size:Medium,Small,X-Large,XX-Large",Rs.,1899,569,70% off,Westernwear-Women
2,3,109f,DRW2,DRW2 - Westernwear-Women,womens round neck solid top - black,"Size:Large,Medium,Small,X-Large",Rs.,1499,599,60% off,Westernwear-Women
3,4,109f,DRW3,DRW3 - Westernwear-Women,womens round neck stripe shift dress - red,"Size:Medium,Small",Rs.,1599,639,60% off,Westernwear-Women
4,5,109f,DRW4,DRW4 - Westernwear-Women,womens round neck solid high low top - black,"Size:Large,Medium,Small,X-Large",Rs.,1199,479,60% off,Westernwear-Women

In [13]:
df.shape

(4566, 11)

In [14]:
df.dtypes

S.No            int64
BrandName         str
Product ID        str
Product Name      str
Brand Desc        str
Product Size      str
Currancy          str
MRP               str
SellPrice       int64
Discount          str
Category          str
dtype: object

In [15]:
df['MRP'] = pd.to_numeric(df['MRP'], errors='coerce')
df['SellPrice'] = pd.to_numeric(df['SellPrice'], errors='coerce')

In [16]:
df['SellPrice'] = df['SellPrice'].astype(float)

In [17]:
df['Discount'] = (df['Discount'].str.extract(r'(\d+)').astype(int))
df.rename(columns={'Discount': 'Discount_Percentage %'}, inplace=True)

In [18]:
df.dtypes

S.No                       int64
BrandName                    str
Product ID                   str
Product Name                 str
Brand Desc                   str
Product Size                 str
Currancy                     str
MRP                      float64
SellPrice                float64
Discount_Percentage %      int64
Category                     str
dtype: object

In [19]:
df.describe()

              S.No           MRP     SellPrice  Discount_Percentage %
count  4566.000000   4548.000000   4566.000000            4566.000000
mean   2283.500000   1822.885840   2005.222733              29.991897
std    1318.234994   2281.270513   2259.614915              17.856129
min       1.000000      0.000000     89.000000               5.000000
25%    1142.250000      9.000000    749.000000              10.000000
50%    2283.500000   1495.000000   1379.000000              30.000000
75%    3424.750000   2499.000000   2299.000000              50.000000
max    4566.000000  28495.000000  25995.000000              80.000000